// Navigation code here

.intro {
    .display-center();
    flex-direction: column;
    padding-top: 10px;

    .header-h1 {
        .display-center();
        font-size: 3.2rem;
    }

    .nav-bar {
        padding: 10px 0 10px 0;
        font-size: 1.5rem;
        margin: 0 25% 0 25%;

        nav {
            .display-evenly();

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}